.btn-icon {
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


.btn-hover:not(.active) {
    border-radius: 50%;
}

.btn-hover:not(.active):hover {
    background-color: #D3D7DE;
}

.btn-menu-header {
    width: 40px;
    height: 40px;
    background-size: 24px 24px;
}

.medium {
    width: 24px;
    height: 24px;
    background-size: contain;
}

.small {
    width: 28px;
    height: 28px;
    background-size: 16px 16px;
}

.facebook {
    background-image: url("../../img/facebook.svg");
}

.lapphuongtimkiem {
    background-image: url("../../img/lapphuongtimkiem.svg");
}

.lich {
    background-image: url("../../img/lich\'\'.svg");
}

.chuong {
    background-image: url("../../img/chuong.svg");
}

.caidat {
    background-image: url("../../img/setting.svg");
}

.tronchanhoi {
    background-image: url("../../img/tronchamhoi.svg");
}

.close {
    -webkit-mask: url("../../img/close.svg") no-repeat 50% 50%;
    mask: url("../../img/close.svg") no-repeat 50% 50%;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #333;
}

.close:hover {
    background-color: red;
}

.default-avt {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../img/avatar.jpg");
    background-size: contain;
}

.reload {
    -webkit-mask: url("../../img/reload.svg") no-repeat 50% 50%;
    mask: url("../../img/reload.svg") no-repeat 50% 50%;
    -webkit-mask-size: 16px 16px;
    mask-size: 16px 16px;
    background-color: #333;
}

.reload:hover {
    background-color: #5A76F2 !important;
}

.arrow-down {
    background-image: url("../../img/arrow-down.svg");
}

.more-option {
    background-image: url("../../img/3dot.svg");
}

.arrow-up {
    background-image: url("../../img/arrow-up.svg");
}


.toggle-right {
    left: -12px;
    border-radius: 8px 0 0 8px;
    box-shadow: -2px 2px 7px rgba(31, 34, 41, 0.16);
    background-image: url("../../img/toggle-right.svg");
}

.phone-fill {
    -webkit-mask: url("../../img/phone-fill-gray.svg") no-repeat 50% 50%;
    mask: url("../../img/phone-fill-gray.svg") no-repeat 50% 50%;
    -webkit-mask-size: 16px 16px;
    mask-size: 16px 16px;
    background-color: #333;
}

.phone-fill:hover {
    background-color: #5A76F2 !important;
}

.note-checked-fill {
    -webkit-mask: url("../../img/lich-checked-fill-gray.svg") no-repeat 50% 50%;
    mask: url("../../img/lich-checked-fill-gray.svg") no-repeat 50% 50%;
    -webkit-mask-size: 16px 16px;
    mask-size: 16px 16px;
    background-color: #333;
}

.note-checked-fill:hover {
    background-color: #5A76F2 !important;
}

.lich-fill {
    -webkit-mask: url("../../img/lich\'\'-fill-gray.svg") no-repeat 50% 50%;
    mask: url("../../img/lich\'\'-fill-gray.svg") no-repeat 50% 50%;
    -webkit-mask-size: 16px 16px;
    mask-size: 16px 16px;
    background-color: #333;
}

.lich-fill:hover {
    background-color: #5A76F2 !important;
}

.mail-fill {
    -webkit-mask: url("../../img/mail-fill-gray.svg") no-repeat 50% 50%;
    mask: url("../../img/mail-fill-gray.svg") no-repeat 50% 50%;
    -webkit-mask-size: 16px 16px;
    mask-size: 16px 16px;
    background-color: #333;
}

.mail-fill:hover {
    background-color: #5A76F2 !important;
}