.icon {
    background-position: center;
    align-self: center;
}


.icon-checkbox {
    background: url('../../img/checkbox-collection.svg') no-repeat -80px -25px;
    width: 16px;
    height: 16px;

}

.icon-checkbox:hover {
    background: url('../../img/checkbox-collection.svg') no-repeat -18px -25px;
    width: 16px;
    height: 16px;
}

.icon-checkbox-checked {
    background: url('../../img/checkbox-collection.svg') no-repeat -58px -25px;
    width: 16px;
    height: 16px;
}

.icon-all-checked {
    background: url('../../img/checkbox-collection.svg') no-repeat -37px -26px;
    width: 16px;
    height: 16px;
}

.icon-document-background {
    background-image: url("../../img/document-background.svg");
}

.icon-rectangle-add {
    background: url('../../img/checkbox-collection.svg') no-repeat -18px -2px;
    width: 16px;
    height: 16px;
}

.icon-edit {
    background-position: center;
    align-self: center;
    background: url('../../img/checkbox-collection.svg') no-repeat -42px -3px;
    width: 16px;
    height: 16px;
}

.icon-edit:hover {
    background: url('../../img/checkbox-collection.svg') no-repeat -84px -2px;
    width: 17px;
    height: 16px;
}