.paging {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dddddd;
    padding: 10px;
}


.paging-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: inherit;
    gap: 10px;
}

.paging-center-right {
    min-width: 175px;
    height: inherit;
    display: flex;
    align-items: center;
    gap: 3px;
}


.paging-center-right>span {
    margin: 0 6px;
}

.btn-nav {
    cursor: pointer;
}

.btn-nav:hover {
    background-color: #bbbbbb;
}

.btn-first {
    -webkit-mask: url("../../img/btn-firstpage.svg") no-repeat 50% 50%;
    mask: url("../../img/btn-firstpage.svg") no-repeat 50% 50%;
    -webkit-mask-size: 16px 16px;
    mask-size: 16px 16px;
    background-color: #333;
}
.btn-first:hover{
    background-color: #5A76F2;
}

.btn-prev {
    -webkit-mask: url("../../img/btn-prev-page.svg") no-repeat 50% 50%;
    mask: url("../../img/btn-prev-page.svg") no-repeat 50% 50%;
    -webkit-mask-size: 16px 16px;
    mask-size: 16px 16px;
    background-color: #333;
}
.btn-prev:hover{
    background-color: #5A76F2;
}

.btn-next {
    -webkit-mask: url("../../img/btn-next-page.svg") no-repeat 50% 50%;
    mask: url("../../img/btn-next-page.svg") no-repeat 50% 50%;
    -webkit-mask-size: 16px 16px;
    mask-size: 16px 16px;
    background-color: #333;
}

.btn-next:hover{
    background-color: #5A76F2;
}

.btn-last {
    -webkit-mask: url("../../img/btn-lastpage.svg") no-repeat 50% 50%;
    mask: url("../../img/btn-lastpage.svg") no-repeat 50% 50%;
    -webkit-mask-size: 16px 16px;
    mask-size: 16px 16px;
    background-color: #333;
}
.btn-last:hover{
    background-color: #5A76F2;
}