
.table-container {
    grid-row: 1/2;
    overflow: hidden;
    display: grid;
    grid-template-rows: 37px auto;
    position:relative;
}

.tr {
    display: grid;
    grid-template-columns: 16px 16px 100px 80px 150px 150px 150px 150px 250px 250px 250px 150px 150px 150px 150px 200px 150px 170px 300px 150px 150px 150px 100px 250px;
    padding: 0 16px;
    padding: 0 16px;
    height: 37px;
    line-height: 37px;
    text-align: start;
    border-bottom: 1px solid #D3D7DE;
    box-sizing: border-box;
    grid-gap: 5px 16px;
    width: fit-content;
    transition: all 0.2s linear;
}
.tbody>.tr[checked]{
    background-color: #FAD1D1!important;
}
.tbody>.tr:hover {
    background-color: #E7EBFC;
    cursor: pointer;
}

.table-header {
    grid-row: 1/2;
    overflow: hidden;
    position: relative;
    border: 0px;
    width: fit-content;
    display: flex;
    align-items: center;
    background-color: #F0F2F4;
    font-weight: 700;
}

.table-content {
    grid-row: 2/3;
    position: relative;
    overflow: auto;
    width: 100%;
}
.table-content::-webkit-scrollbar-thumb:hover{
    background-color: #99A1B2;
}
.table-content::-webkit-scrollbar-thumb:active{
    background-color: #7C869C;
}

.td,
.th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.call-background {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: center;
    background-size: 16px 16px;
    background-image: url("../../img/call-background.svg");
}